{%extends 'Base.html' %}

{% block Title %}
About
{%endblock%}

{%block Main%}
<main>
    <div align="center">
        <h1 style="color: black; background-color: cornflowerblue;">
            About
        </h1>
        <hr>
        <br>
        <font size="4px" color="black">
            <br>
            My Name is Sahebrao Shivaji Rahire
            <br>
            I am From Nanded , Maharastra , India
            <br>
            I recently completed my graduation in Computer Science
            <br>
            From MGMs College OF Computer Science & IT Nanded
            <br>
            Which belongs to Swami Ramanand Tirth Open University
            <br>
            with CGPA OF 8.92 %
            <br>
        </font>
    </div>
</main>
{%endblock%}