{%extends 'Base.html' %}

{% block Title %}
Contact
{%endblock%}

{%block Main%}
<h1 align="center" style="color: black; background-color: cornflowerblue;">
    Contact
</h1>
<ul>
    <li>Mobile No :- 9284488740</li>
    <li>Email Address :- rahires818@gmail.com</li>
    <hr>
    <li>
        <a href="https://www.github.com/rahires007" target="_blank"><button>Github</button></a>
    </li>
    <br>
    <li>
        <a href="https://www.rahires.site"><button>Portfolio</button></a>
    </li>
    <br>
    <li>
        <a href="https://www.linkedin.com/in/rahire-sahebrao/"><button>Linkedin</button></a>
    </li>
</ul>
{%endblock%}